<div>
  <input type="text" [(ngModel)]="articleName" />
  <input type="checkbox" [(ngModel)]="articleIsImportant" />
  <button (click)="add()">Ajouter</button>
</div>

<ul>
  @for (item of listCourseService.list(); track $index) {
  <ng-container
    [ngTemplateOutlet]="myTemplate"
    [ngTemplateOutletContext]="{
                      item,
                      dialog: {isVisible: false}
                    }"
  ></ng-container>
  <!-- <app-confirm-box 
          [visible]="false"
          message="Confirmer la suppression de cet élément"
          (onResponse)="1 == 1"
      ></app-confirm-box> -->

  }
</ul>

<!-- Template : composant uniquement utilisable localement -->
 <!--  let-item="item" let-dialog="dialog : 2 variables définies localement utilisables uniquement dans mon template -->
<ng-template #myTemplate let-item="item" let-dialog="dialog">
  <li>
    <p>
      {{ item.name }}
      @if(item.isImportant) {
      <span>⚠️</span>
      }
    </p>
    <button (click)="dialog.isVisible = true">🗑️</button>
  </li>

  <app-confirm-box
    [(visible)]="dialog.isVisible"
    message="Confirmer la suppression de cet élément"
    (onResponse)="dialog.visible = false; delete($event, item)"
  ></app-confirm-box>
</ng-template>
