<!-- <form [formGroup]="searchForm" (submit)="search()">
    <input
      type="text"
      formControlName="searchTerm"
      placeholder="Code-barre"
    />
    <button type="submit" [disabled]="searchForm.invalid">🔍</button>
  </form>

  @if(product){
    <section>
        <p>Nom du produit : {{product?.product_name }}</p>
        <p>Nutriscore : {{product?.nutriscore[2023].grade | uppercase }}  </p>
        <img [src]="product?.image_front_small_url" >
    </section>
  } -->

<div>
  <input type="text" [(ngModel)]="barCode" />
  <button (click)="search()">Rechercher</button>
</div>

@if(result){
    @if(result.status.includes('success')){
    <div>
      <p>Nom du produit : {{ result.product.product_name }}</p>
      <p>
        Nutriscore : {{ result.product.nutriscore[2023].grade | uppercase}}
      </p>
      <img [src]="result.product.image_front_url" />
    </div>
    } @else {
        <p>Produit non répertorié.</p>
    }
}
